body {
  font-family: 'Sen', sans-serif;
}

/* color palette
7 #be5f8b
3 #b5b5b6
5 #595757
2 #dcdddd */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

section:nth-of-type(odd) {
  background-color: #dcdddd;
  color: #595757;
}

ul li {
  list-style: none;
}

ul {
  padding: 0px;
}

nav > ul {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-left: 30px;
}

#hero {
  height: 40vh;
  background-color: #595757;
  color: #dcdddd;
}

#hero sub {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 40px;
}

#hero a {
  background-color: #be5f8b;
  width: 175px;
  padding: 15px;
  border: 2px solid #b5b5b6;
  color: #dcdddd;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

#hero a:hover {
  color: rgb(60, 60, 105);
}

.quote {
  height: 30vh;
  padding: 50px 10vw;
  border-bottom: 2px solid lightgrey;
}

blockquote {
  font-style: italic;
  line-height: 2em;
}

blockquote::before, blockquote::after {
  content: '"';
}

.quote p {
  align-self: flex-end;
}

.quote p::before {
  content: "--";
}

#why {
  border-bottom: 2px solid lightgrey;
  padding: 20px 0px;
}

#why > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  width: 90vw;
  padding: 0px;
}

strong {
  height: auto;
}

#why > ul li {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
}

#why li p {
  grid-column-start: 2;
}

#team ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: space-around;
}

#team ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  width: 30%;
}

#team img {
  border-radius: 100%;
  border: 1px solid lightgray;
  padding: 3px;
  filter: grayscale(1);
}

#sponsors ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 95vw;
}

#sponsors ul li {
  margin: 5px auto;
}

#footer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#footer div {
  margin: 0 5%;
}