body {
  font-family: 'Sen', sans-serif;
}

* {
  border: 1px solid blueviolet;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

ul li {
  list-style: none;
}

#hero {
  height: 40vh;
  background-color: lightseagreen;
}

#hero sub {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 30px;
}

#hero a {
  background-color: white;
  width: 175px;
  padding: 15px;
  border: 2px solid lightcoral;
  border-radius: 10px;
  text-align: center;
}

.quote {
  height: 30vh;
  padding: 50px 10vw;
  border-bottom: 2px solid lightgrey;
}

blockquote {
  font-style: italic;
  line-height: 2em;
}

blockquote::before, blockquote::after {
  content: '"';
}

.quote p {
  align-self: flex-end;
}

.quote p::before {
  content: "--";
}

#why {
  border-bottom: 2px solid lightgrey;
  padding: 20px 0px;
}

#why > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  width: 90vw;
  padding: 0px;
}

strong {
  height: auto;
}

#why > ul li {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
}

#why li p {
  grid-column-start: 2;
}
